@import "../variables.scss";


.wrapper{
  @media screen and (max-width:1199px) {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 1200px;
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */

  }
  @media only screen and(min-width:1200px){
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    padding-right: 2.5rem !important;  /* 3 */
    padding-left:  2.5rem !important; /* 3 */
  }
  @media only screen and(min-width:1300px){
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    padding-right: 5rem !important;  /* 3 */
    padding-left:  5rem !important; /* 3 */
  }
  @media only screen and(min-width:1400px){
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    padding-right: 7.5rem !important;  /* 3 */
    padding-left:  7.5rem !important; /* 3 */
  }
  @media only screen and(min-width:1680px){
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    padding-right: 20rem !important;  /* 3 */
    padding-left:  20rem !important; /* 3 */
  }
}

