@import "../../../variables.scss";

.main{
  background-color: $bg-grey;
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: $border-grey;
  --bg-opacity: 1;
}

.logoText{
  font-size: 36px;
  color: $text-orange ;
  font-weight: 500;
}
