@import '../../../variables.scss';

.menuContainer{
  position: absolute;
  top: 50px;
  list-style: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.menuItem{
  display: flex;
  width: 100%;
  padding: 14px 16px;
  line-height: 1.5;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  background-color: transparent;
  text-decoration: inherit;
  border-color: transparent;
  border-left-width: 4px;
  font-size: 14px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover{
    color: rgba(75, 85, 99, 1);
    background-color: #f9fafb;
  }
}

.menuItemIcon{
  line-height: 0;
  margin-top: 3px;
  margin-right: 5px;
  color: $text-grey !important;
}