@import "../../variables.scss";

.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.modalContent {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

.modalHeader {
  min-height: 50px;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
}

.modalCloseButton {
  position: absolute;
  top: 12px;
  right: 10px;
}

.modalFooter {
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
