@import "../../variables.scss";

// modal width rules
.small {
  width: 30vw;
}
.medium {
  width: 50vw;
}
.large {
  width: 80vw;
}
@media screen and (max-width: 640px) {
  .small {
    width: 50vw;
  }
  .medium {
    width: 90vw;
  }
  .large {
    width: 95vw;
  }
}

// modal elements
.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 1;

  // fade in animation
  animation-name: modalFade;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;

  @keyframes modalFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.modalContent {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

.modalHeader {
  min-height: 50px;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
}

.modalCloseButton {
  position: absolute;
  top: 12px;
  right: 10px;
}

.modalFooter {
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
