.pane {
  // background-color: #aaa;
  border-radius: 6px;
  margin: 10px 0px;
  padding: 15px;
  border: 1px solid #eee;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}
