$primary-background: #e85c1b;
$primary-text: white;
$text-primary: #7e7e7e;
$text-orange: #e85c1b;
$text-white: white;
$text-grey: #8a8989;
$text-black: #000000;
$bg-grey: #f4f5f7;
$bg-white: white;
$text-input-border: #e2e4e9;
$is-valid: #36ab80;
$is-invalid: #36ab80;
$border-grey: #d2d6dc;
$light-salmon: #ffebd1;
$dark-salmon: #dc973e;
$text-sm: 0.875rem;

$disabled-text: #222;
$disabled-background: #7e7e7e;
