$primary-background: #e85c1b;
$primary-text: white;
$text-primary: #7e7e7e;
$text-orange: #e85c1b;
$text-white: white;
$text-grey: #8a8989;
$bg-grey: #e1e2e2;
$bg-white: white;
$text-input-border : #e2e4e9;
$is-valid: #36ab80;
$is-invalid: #36ab80;
$border-grey : #d2d6dc
